{{define "subject"}}Welcome to MASS!{{end}}

{{define "plainBody"}}
Hello {{.Username}},

Thank you for registering with the Medical Appointment Scheduling System! We're excited to have you on board.

For future reference, your user ID number is {{.ID}} and your account email is {{.Email}}.

Thanks,
MASS Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <p>Hello {{.Username}},</p>
  <p>Thank you for registering with the Medical Appointment Scheduling System! We're excited to have you on board.</p>
  <p>For future reference, your user ID number is {{.ID}} and your account email is {{.Email}}.</p>
  <p>Thanks,<br>MASS Team</p>
</body>
</html>
{{end}}